{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/detail.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Control Details</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="add__edit__controls">
                <div class="add__edit__box">
                    <p class="subheading">Control Name</p>
                    <p class="subheading">{{element.name}}</p>
                </div>
                <div class="add__edit__box">
                    <p class="subheading">X Coordinate</p>
                    <p class="subheading">{{element.x_cod}}</p>
                </div>
              <div class="add__edit__box">
                    <p class="subheading">y Coordinate</p>
                    <p class="subheading">{{element.y_cod}}</p>
                </div>
              <div class="add__edit__box">
                    <p class="subheading">Height</p>
                    <p class="subheading">{{element.height}}</p>
                </div>
              <div class="add__edit__box">
                    <p class="subheading">Width</p>
                    <p class="subheading">{{element.width}}</p>
                </div>
            </div>
            <div class="control__img">
                <img src="{{ url_for('static', filename=element.img_url) }}" alt="{{ element.name }}" class="control__img_brd" />
            </div>
          <hr>
           <div class="clearfix">
          <a class="btn btn-primary btn-lg btn-block" href="{{url_for('edit_element', element_id=element.id)}}">Edit Controls</a>
        </div>
          </div>
      </div>
    </div>
  </article>

  <hr>
{% include "footer.html" %}