{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{element.img_url}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>Element Details : </h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1>{{element.name}}</h1>
            <p class="subheading">{{element.x_cod}}</p>
              <p class="subheading">{{element.y_cod}}</p>
              <p class="subheading">{{element.height}}</p>
              <p class="subheading">{{element.width}}</p>
                <p class="subheading">{{element.img_url}}</p>
            <img src="{{ url_for('static', filename=element.img_url) }}" />
          <hr>
           <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{url_for('edit_element', element_id=element.id)}}">Edit Element</a>
        </div>
          </div>
      </div>
    </div>
  </article>

  <hr>
{% include "footer.html" %}