<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Automation</title>

  <!-- Bootstrap core CSS -->

  <!-- Custom fonts for this template -->

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/header_style.css')}}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav>
    <div>
      <a href="{{url_for('home_page')}}">Automation</a>
      <div>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/Team">Team</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
