{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1470092306007-055b6797ca72?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80')">

      <div class="overlay"></div>
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-md-10 mx-auto">
                  <div class="site-heading">
                      <h1>Web Control Detection</h1>
                  </div>
                  <form action="{{ url_for("get_website_url")}}" method="post">
                      <div class="row">
                          {% if website_url: %}
                          <input name="website_url" id="website_url" type="url" value="{{ website_url }}" />
                          {% else %}
                          <input name="website_url" id="website_url" type="url" placeholder="Enter the website url" />
                          {% endif %}
                      <button class="btn btn-secondary" type="submit">Get Elements</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </header>

  <!-- Main Content -->
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
          {% if website_url: %}
          <div>
              <a href="{{url_for('add_new_element')}}">ADD Element</a>
          </div>
          {% endif %}
              {% for data in table_data %}
                  <div class="post-preview">
                      <a href="{{ url_for('show_element', element_id=data.id) }}">
                          <h2 class="post-title">{{ data.name }}</h2>
                      </a>
                      <h3>
                          <a href="{{url_for('delete_element', element_id=data.id) }}">✘</a>
                      </h3>
                  </div>
                  <hr>
              {% endfor %}

              <!-- API LINK -->

          </div>
      </div>
  </div>
<hr>

{% include "footer.html" %}
