{% include "header.html" %}

  <!-- Page Header -->
  <header style="background-image: url('{{ url_for('static', filename='img/contact-bg.jpg')}}')">
      <div>
          <h1>Team Members</h1>
          <span>Coordinate to coperate</span>
      </div>
  </header>

  <!-- Main Content -->
  <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Aspernatur ducimus exercitationem necessitatibus nulla omnis,
          perspiciatis quibusdam ratione repellat suscipit voluptas.
          Animi, at blanditiis dolores, enim inventore itaque minus
          quasi quibusdam quo quod sed voluptas? Dolor facere harum
          molestiae nesciunt odit ut veniam! Architecto earum expedita
          facilis nostrum, obcaecati reiciendis veritatis.
      </p>
  </div>

  <hr>

  {% include "footer.html" %}