{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/team-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>TEAM - 10</h1>
            <h4><i>
                  'Big jobs can be smaller together'
                </i>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->


  {% include "footer.html" %}